.facility-container{
    margin-top: 5rem;
    gap: 2rem;
    display: flex;
    justify-content: flex-start;
}
.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 200px;
  }
  .buttons {
    margin-left: 18rem;
    display: flex;
    justify-content: space-between;

  }
  