.g-container{
    background: #4161df;
    border: 6px solid rgb(133, 133, 247);
    gap: 2rem;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 2.2rem;
}
.g-container h1{
    font-weight: 600;
}
.g-container p{
    gap: 0.3rem;
    line-height: 1.3rem;
    color: rgb(214, 214, 255);
}

.button1{
    border: 2px solid white;
    border-radius: 5px;
    background-color: #afb7d6;
    font-weight: 500;
    padding: 0.6rem 1.4rem;
    transition: all 300ms ease-in; 
    color: white;
}
.button1:hover {
    cursor: pointer;
    transform: scale(1.1);
}
    